In [3]:
print('Welcome')

Welcome

In [1]:
write a program to add two numbers 10.0 add 11.0 and print the output in the format "The sum of two number is Ans"

SyntaxError: invalid syntax (1075065934.py, line 1)

In [2]:
Write a program to add two numbers 10.0 and 11.0 and print the output in the format "The sum of two number is Ans"

SyntaxError: invalid syntax (220351100.py, line 1)

In [9]:
name = 'Murali'
print(f'my name is {name}')
print('My name is {p}' .format(p='Priya'))

my name is Murali
My name is Priya

In [14]:
DOB = [25, 12, 1991]
DOB.pop(0)
print(DOB)

[12, 1991]

In [17]:
a = [10, 20]
b = a
b += [30, 40]
print(a)

[10, 20, 30, 40]

In [50]:
list = [1,2,3,4,5]
for value in list
    if value % 2 == 0
    print(value)

SyntaxError: invalid syntax (2344574669.py, line 2)

In [1]:
type(False)

bool

In [2]:
pwd

'e:\\Python\\Python training session\\Python-session'

In [13]:
with open('asaass.txt',mode='w') as f:
    f.write('hi')
    with open('asaass.txt',mode='r')as f:
        f.read()
        myfile = open('asaass.txt')
        myfile.read()

In [14]:
%%writefile asaass.txt
This is a testing File
I tested for I/O

Overwriting asaass.txt

In [15]:
myfile = open('asaass.txt')

In [17]:
myfile.read()

'This is a testing File\nI tested for I/O\n'

In [22]:
myfile.read()
myfile.seek(0)
myfile.read()

'This is a testing File\nI tested for I/O\n'

In [1]:
a = max(False, -3,-4)
b = min(a, 2, 7)
print(b)

False

In [25]:
x = 'yes'
y = 'no'
if ((len(x)==1) and (len(x))==(len(y))):
    print('hello')

In [89]:
x = 9
if x % 2 == 0 :
    print ('Not prime number')
else:
        print ('prime number')

prime number

In [1]:
x = 67

for i in range(2,x):
    if x % i == 0:
        print('not prime')
        break
else:
    print('prime number')

prime number

In [45]:
x = 67

for num in range(2,x):
    if x % num == 0:
        print('not prime')
        break
else:
    print('prime number')

prime number

In [26]:
password = 'Murali dharan 25/12/1991'
if len(password) < 6:
    print('password must contain 6 characters')
elif len(password) > 16:
        print('password should not more than 16 characters')
else:
    print('password okay')

password should not more than 16 characters

In [1]:
st = 'Print only the word start with s in the sentence'
for in st :
    if the letter

In [88]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [4]:
list1 = [num for num in range(1,50) if num % 3 == 0]
print (list1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [56]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word) % 2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [17]:
x = [num for num in range(1,101)]
for num in x:
    if num % 3 == 0 and num % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz') 
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [18]:
for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print('FizzBuzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Buzz') 
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [85]:
st = 'Create a list of the first letters of every word in the string'
for word in st.split():
    print(word)

Create
a
list
of
the
first
letters
of
every
word
in
the
string

In [16]:
def myfunc(KMD):
    if KMD == True:
        return 'Hello'
    elif KMD == False:
        return 'Goodbye'
    else:
        return 'Invalid'
myfunc(True)

'Hello'

In [20]:
def myfunc(x,y,z):
    if z == True:
        return x
    elif z == False:
        return y
    else:
        return 'Null'
myfunc('KMD','Hi','')

'Null'

In [24]:
def myfunc1(x,y):
    return x+y
myfunc1(3,5)

8

In [28]:
def is_even (num):
    if num % 2 == 0:
        return  True
    else:
        return False
is_even(333332)

True

In [30]:
def is_greater (a,b):
    if a > b:
        return True
    else:
        return False
is_greater (10,5)

True

In [15]:
x = 18
while x <= 18:
    x = x + 3
print(x)

21

In [20]:
def myfunc(*args):
    return sum(args)
myfunc(1,2,3)

6

In [48]:
def myfunc(*args):
    for n in args:
        if n%2 == 0:
            return n
myfunc(1,2,3,4,5)

2

In [38]:
def myfunc(*args):
    return [n for n in args if n%2 == 0]
print(myfunc(1,2,3,4,5,6,7,8,9,10))

[2, 4, 6, 8, 10]

In [52]:
def myfunc(*args):
    mylist = []
    for x in list(args):
        if x % 2 == 0:
            mylist.remove(x)
    return mylist

In [53]:
def myfunc (*args):
    if args[] % 2 == 0:
        return upper()
    else:
        return lower()
myfunc('Murali')

SyntaxError: invalid syntax (1293314434.py, line 2)

In [10]:
name = input('Enter your name')
age = input ('Enter your age')
print(f'{name} is {age} years old')

Murali is 30 years old

In [11]:
'Python {}'.format('rules!')

'Python rules!'

In [12]:
d={'k1':[1,2,3]}
d['k1'][1]

2

In [14]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [24]:
list3 = [1,2,[3,4,'hello']]
print(list3)

[1, 2, [3, 4, 'hello']]

In [28]:
list4 = [5,3,4,6,1]
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

In [34]:
d = {'simple_key':'hello'}
d['simple_key']

'hello'

In [42]:
d = {'k1':{'k2':'hello'}}
d['k1']['k2']

'hello'

In [63]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}
d['k1'][0]['nest_key'][0]

'this is deep'

In [72]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2]

['hello']

In [73]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [76]:
4**0.5 != 2

False

In [78]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] < l_two[2]['k1']

True

In [10]:
st = 'Print only the words that start with s in this sentence'
for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [15]:
x = range(0,10)
for num in x:
    if num%2 == 0:
        print(num)

0
2
4
6
8

In [23]:
x = range(0,10)
print(num % 2 == 0 for num in x)

<generator object <genexpr> at 0x00000142C6E89AC0>

In [22]:
x = [num for num in range(0,10) if num % 2 ==0]
print(x)

[0, 2, 4, 6, 8]

In [28]:
[num for num in range(0,50) if num % 3 == 0]

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [29]:
st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word)%2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [44]:
x = range(0,100)
for num in x:
    if num % 3 == 0 and num % 5 == 0:
        print('Fizz Buzz')
    elif num % 3 == 0:
        print('Fizz')
    elif num % 5 == 0:
        print('Bizz')      
    else:
        print(num)

Fizz Buzz
1
2
Fizz
4
Bizz
Fizz
7
8
Fizz
Bizz
11
Fizz
13
14
Fizz Buzz
16
17
Fizz
19
Bizz
Fizz
22
23
Fizz
Bizz
26
Fizz
28
29
Fizz Buzz
31
32
Fizz
34
Bizz
Fizz
37
38
Fizz
Bizz
41
Fizz
43
44
Fizz Buzz
46
47
Fizz
49
Bizz
Fizz
52
53
Fizz
Bizz
56
Fizz
58
59
Fizz Buzz
61
62
Fizz
64
Bizz
Fizz
67
68
Fizz
Bizz
71
Fizz
73
74
Fizz Buzz
76
77
Fizz
79
Bizz
Fizz
82
83
Fizz
Bizz
86
Fizz
88
89
Fizz Buzz
91
92
Fizz
94
Bizz
Fizz
97
98
Fizz

In [33]:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [43]:
st = 'Create a list of the first letters of every word in this string'
st1 = []
for word in st.split():
    st1.append(word[0])
print(st1)

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [2]:
mylist = [1,2,3]

In [14]:
def say_hello(name1, name2):
    print('Hello {}'.format(name1))
    print(f'Hello {name2}')

In [28]:
L = [1,2,3,4]
for  i in L[::1]:
    print(i, end="3")

13233343

In [26]:
L = [1,2,3,4]
L[::1]

[1, 2, 3, 4]